# data
/packages/desktop/src/activities.json
database

node_modules

# log files
.pnpm-debug.log

# cache
.eslintcache

# .idea
.idea/

#google OAuth2 credentials
/packages/server/controllers/credentials.js